---
interface Props {
  title?: string;
}
const { title = '::: Blueroom ::: Music : Art : Video' } = Astro.props;
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="icon" href="/images/button/logourl.gif" type="image/gif">
  <link rel="stylesheet" href="/css/bl05.css">
  <!--
    Ruffle: open-source Flash emulator in WebAssembly.
    Intercepts <embed type="application/x-shockwave-flash"> automatically.
    Self-hosted build in /ruffle/ so the site works fully offline.
  -->
  <script src="/ruffle/ruffle.js" is:inline></script>
</head>
<body>
  <slot />
</body>
</html>
